* {
    font-family: Arial, Helvetica, sans-cheeseif
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    background-color: red;
    color: white;
}

#top {
    width: 50%;
    height: 50px;
    background-color: rgb(236, 217, 131);
    border-bottom: 15px solid rgb(236, 201, 42);
    border-radius: 40px 40px 10px 10px;

}

.cheese {
    width: 55%;
    height: 10px;
    background-color: yellow;
    border-bottom: 5px solid rgb(188, 161, 3);
}
.tomato{
    width: 40%;
    height: 20px;
    background-color: red;
    border-bottom: 5px solid rgb(164, 0, 0);
}

.meat {
    width: 45%;
    height: 30px;
    background-color: rgb(212, 69, 69);
    border-bottom: 10px solid brown;
    border-radius: 50px;
}

.onion {
    width: 40%;
    height: 25px;
    background-color: purple;
    justify-content: space-between;
    display: flex;
}
.onion span
{
    height: 25px;
    width: 25px;
    background-color: rgb(230, 130, 230);
    border-radius: 50%;
    display: inline-block;
}

.meat-balls
{
    display: flex;
}

.meat-balls span
{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: rgb(212, 69, 69);
    border-radius: 50%;   
}

.cucumber {
    width: 40%;
    height: 20px;
    background-color: rgb(3, 226, 3);
    border-bottom: 15px solid rgb(0, 102, 0);
    border-radius: 0px 0px 35px 35px;
}

#bottom {
    width: 50%;
    height: 30px;
    background-color: rgb(236, 217, 131);
    border-top: 15px solid rgb(236, 201, 42);
    border-radius: 10px 10px 40px 40px;

}

.plate {
    background-color: grey;
    border-top : 10px solid rgb(221, 221, 221);
    border-radius: 0px 0px 20px 20px;
    width: 50%;
    height: 20px;
}